@import url('http://fonts.cdnfonts.com/css/avenir');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Avenir', sans-serif;
}
.m--30px{
  margin-left: -30px;
}
.pageview{
  background-color: #f0f6fd;
  min-height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
}

.hoverTableEffect:hover{
  background-color: rgb(242, 242, 242);
}

.calender-item{
  padding: 10px 20px;
  border-radius: 8px;
  border-left: 8px solid rgb(0, 63, 172);
  background-color: rgb(215, 233, 250);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  margin: 10px 0px;
}

.calener-list-heading{
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 35, 98);
}

.calender-list-time{
  color: rgb(105, 105, 105);
  font-size: 16;
  
}
.circular-info{
  width: 55px;
  height: 55px;
  background: white;
  box-shadow: rgba(0, 63, 172, 0.2) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 40px;
  color: rgb(0, 63, 172);
  font-weight: bold;
}

.visible{
  visibility: visible;
}

.invisible{
  display: none !important;
  width: 0;
  height: 0;
}

.link-button-redaccent{
  background-color: rgb(255, 0, 0);
  border-radius: 0px !important;
  color: white;
  transition: all 0.31s;
}
.text-red{
  color: rgb(255, 0, 0);
}
.text-red:hover{
  color: rgb(192, 0, 0);
}
.sharp{
  border-radius: 0px !important;
}
.link-button-redaccent:hover{
  background-color: rgb(192, 0, 0);
  color: white;
}

@media only screen and (max-device-width: 840px){
  .calener-list-heading{
    font-size: 16px;
    font-weight: 500;
  }

  .circular-info{
    font-weight: 500;
    font-size: 14px;
  }
  .calender-list-time{
    font-size: 14px;
  }
  .title-databox{
    font-size: 18px;
  }
}