@import url('http://fonts.cdnfonts.com/css/avenir');

*{
  font-family: 'Avenir', sans-serif;
}
.pageview{
  background-color: #f0f6fd;
  min-height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
}

.hoverTableEffect:hover{
  background-color: rgb(242, 242, 242);
}

.calender-item{
  padding: 10px 20px;
  border-radius: 8px;
  border-left: 8px solid rgb(0, 63, 172);
  background-color: rgb(215, 233, 250);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  margin: 10px 0px;
}

.calener-list-heading{
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 35, 98);
}

.calender-list-time{
  color: rgb(105, 105, 105);
  font-size: 16;
  
}
.circular-info{
  width: 55px;
  height: 55px;
  background: white;
  box-shadow: rgba(0, 63, 172, 0.2) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 40px;
  color: rgb(0, 63, 172);
  font-weight: bold;
}

.visible{
  visibility: visible;
}

.invisible{
  display: none !important;
  width: 0;
  height: 0;
}